/*--------head------------*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,600&family=Libre+Baskerville&display=swap');
.head {
  padding: 20px 0;
  color: #fff;
}
.logo h1 {
  font-size: 35px;
  /* font-weight: 900; */
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #fff

}

.logo span {
  font-size: 20px;
  /* font-weight: 900; */
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  padding-left: 17px;
}

.head .icon {
  margin-left: 10px;
}
/*--------head------------*/
/*--------header------------*/
header {
  background-color: rgba(203, 190, 190, 0.2);
  margin: 50px 30px 0 30px;
}
header .nav {
  display: flex !important;
}
header li {
  margin-right: 40px;
}
header ul {
  padding: 30px 20px;
}
header ul li a {
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover {
  color: #1eb2a6;
}
.start {
  background-color: #1eb2a6;
  padding: 13px 31px;
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}
.toggle {
  display: none;
}
/*--------header------------*/
@media screen and (max-width: 768px) {
  .start {
    clip-path: none;
  }
  header {
    margin: 0;
    background-color: #1eb2a6;
    position: relative;
  }
  header ul.flexSB {
    display: none;
  }
  header ul li {
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
  }
  .mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #1eb2a6;
  }
}

.flexSB li {
  list-style: none; /* Remove bullets */
  margin: 0 10px; /* Add spacing between list items */
  font-size: 20px; /* Adjust font size */
  text-transform: capitalize; /* Capitalize each word */
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  font-style: normal;
}

.flexSB li a {
  text-decoration: none; /* Remove underline */
  color: #333; /* Set a pleasant text color */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.flexSB li a:hover {
  color: #fff; /* Change text color on hover (blue in this case) */
  font-weight: 600; /* Slightly bolden the text on hover */
}

